{
    "filters": {
        "hideFromIPMAC": [
            "0.0.0.0",
            "255.255.255.255"
        ],
        "hidePackets": [
            "IPv6"
        ],
        "hideToIPMAC": [
            "0.0.0.0",
            "255.255.255.255"
        ],
        "showPackets": [
            "TCP",
            "UDP",
            "ICMP"
        ]
    },
    "preferences": {
        "displayFlows": 1,
        "displayHosts": 1,
        "flowTime": 5000,
        "identifyFlows": 1,
        "nodeColors": "Source",
        "showAddr": "None",
        "showNodeStats": 0,
        "startCLI": 1,
        "terminalType": "xterm",
        "typeColors": {
            "ARP": "Red",
            "ICMP": "Blue",
            "TCP": "Green",
            "UDP": "Green"
        }
    }
}